### Gradle ###
.gradle
.gradle/*
/build/
gradlew
gradlew.bat
*/.DS_Store

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
.idea/*
*.iws
*.iml
*.ipr
/out/
test-output

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

test-output
**/build/*
**/out/*
**/target/*
gradle/
.DS_Store
git.properties
build-cache

### Node ###
package-lock.json
node_modules

### Large files ###
*.hprof
*.log

### Java heapdump ###
*/*.trc
*/*.phd
**/javacore.*.txt